.price-color{
   color: #ff136f;
}
.button-color{
   color: #fff;
   background: #ff136f;
   border: 0;
   border-radius: 8px;
}
.resize-button{
   padding: 10px 0;
}
.footer-button{
    padding: 10px 15px;
}
p small{
   font-size: 1vw;
}
#category img{
   width: 100px;
}
.bg-bag-color{
   background-color: #ff136f;
}
.margin-top{
   margin-top: 57px;
}