.navbar-brand{
    margin-right: 100px; 
}
ul .need{
    margin-right: 80px;
}
.nav-link{
    margin-left: 20px;
}
input{
    border-radius: 50px;
}
.shoe-color{
    color: #FF136F;
}
.btn-md{
    color: white;
    background-color: #FF136F;
}
.hover:hover{
    background-color: #FF136F;
    opacity: 50%;
    transition: 0.3s ease-out;
}